#header {
    height: 70px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: black;
    color: white;
    font-family: helvetica;
    font-weight: lighter;
}

.container {
    display: inline-block;
    margin: 0 auto;
}

.artist {
    font-family: helvetica;
    font-weight: bold;
    font-size: 14px;
}

.song {
    font-family: helvetica;
    font-size: 12px;
}

.playBtn {
    height: 80px;
    width: 300px;
}